/* || General */

button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all 0.5s ease;
}

button:active {
  background-color: white !important;
  background-size: 100% !important;
  transition: none;
}

.text-button {
  font-size: large;
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 50px;
  padding: 10px;
}

.material-symbols-outlined {
  font-size: xx-large !important;
  display: block !important;
}

/* || Section button */

section button {
  margin: 0 auto;
  display: block !important;
  min-height: 50px;
  padding: 10px;
  border-radius: 10px;
  color: var(--on-secondary);
  box-shadow: var(--level-2);
  background-color: var(--button);
}

section button:hover {
  background: var(--button) radial-gradient(circle, transparent 1%, var(--button) 1%) center/15000%;
}

section button:active {
  box-shadow: var(--level-4);
  transform: scale(1.1);
}

section .icon-button {
  height: auto;
  width: fit-content;
}

@media (hover:hover) {
  section button:hover {
    box-shadow: var(--level-4);
    transform: scale(1.1);
  }
}

/* || Navigation and Lightbox buttons */

.navbar .icon-button,
.lightbox-overlay .icon-button {
  width: 72px !important;
  height: 72px !important;
  border-radius: 100%;
}

/* || Navigation buttons */

.navbar .icon-button {
  background: none;
  color: var(--on-primary);
}

.navbar .icon-button:hover {
  background: var(--nav) radial-gradient(circle, transparent 1%, var(--nav) 1%) center/15000%;
}

@media screen and (orientation:landscape) {
  .navbar .menu-button {
    display: none;
  }
}

/* || Lightbox buttons */

.lightbox-overlay .icon-button {
  background: none;
  color: white;
}

.lightbox-overlay .icon-button:hover {
  background: radial-gradient(circle, transparent 1%, black 1%) center/15000%;
}

.lightbox-overlay .icon-button:active {
  background-color: white;
  background-size: 100%;
  transition: all 0s ease;
}

.lightbox-overlay .close-button {
  position: fixed;
  top: 0;
  right: 0;
}

.lightbox-overlay .previous-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.lightbox-overlay .next-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}