/* || General */

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    background-color: var(--md-sys-color-surface);
}

body {
    margin: 0 auto;
    line-height: 150%;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

/* || Typescale */

:root {
    --my-font: "Noto Sans", sans-serif;
    --md-ref-typeface-plain: var(--my-font);
    font-family: var(--my-font);
}

h1 {
    /* Display Small */
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 44px;
}

h2 {
    /* Headline Large */
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 40px;
}

h3 {
    /* Title Large */
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 28px;
}

body {
    /* Body Large */
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

a {
    color: var(--md-sys-color-primary);
}

.center {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 100%;
}

button {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (orientation: portrait) {
    footer {
        margin-bottom: calc(80px + env(safe-area-inset-bottom));
    }
}

@media all and (orientation: portrait) and (display-mode:standalone) {
    footer {
        margin-bottom: calc(80px);
    }
}

/* || Table */

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

td,
th {
    padding: 20px;
    border: 1px solid;
}

td {
    position: relative;
    cursor: pointer;
}