/* || Image grid */

.image-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-grid .clickable-image {
    margin: 10px auto;
}

/* For compact, medium and expanded window classes */
@media (max-width:1199px) {
    .image-grid .clickable-image {
        flex: 49%;
        max-width: 49%;
    }
}

/* For large and extra-large window classes */
@media (min-width:1200px) {
    .image-grid .clickable-image {
        flex: 32%;
        max-width: 32%;
    }
}