html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0 auto;
    transition: all 0.5s ease;
}

h1,
h2,
h3 {
    text-align: center;
}

h2 {
    padding-top: 20px;
}

p {
    text-align: left;
    padding-bottom: 20px;
}

p.center {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 100%;
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 72px;
}