/* || Lightbox */

.lightbox-overlay {
    z-index: 2;
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    color: white;
}

.lightbox-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lightbox-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 80vh;
}

.lightbox-caption {
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px 0;
    height: 150px;
}