/* || Navigation */

#scrim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 2;
  cursor: pointer;
}

.navigation-bar {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: var(--md-sys-color-surface-container);
}

.navigation-drawer {
  display: none;
  /* Initially hidden */
  flex-direction: column;
  position: fixed;
  z-index: 3;
  height: 100%;
  top: 0;
  left: 0;
  padding-bottom: env(safe-area-inset-bottom);
  transform: translateX(-100%);
  background-color: var(--md-sys-color-surface-container-low);
  transition: width 1s ease, transform 0.3s ease-in-out;
  border-radius: 0 16px 16px 0;
  box-shadow: var(--level-1);
}

.navigation-drawer.show {
  transform: translateX(0);
}

.navigation-drawer md-list {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: inherit;
  background-color: inherit;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.navigation-drawer md-list-item {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 28px;
}

.navigation-drawer md-list-item.active-indicator {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

@media screen and (orientation:portrait) {

  .navigation-bar {
    height: 80px;
    width: 100%;
    bottom: 0;
    padding-top: 12px;
    padding-bottom: 16px;
    justify-content: space-evenly;
    transition: bottom 0.5s ease;
    box-shadow: var(--level-2);
  }

  .navigation-drawer {
    width: 320px;
  }
}

@media all and (orientation:portrait) and (display-mode:standalone) {

  .navigation-bar {
    height: auto;
    min-height: 80px;
    padding-top: 4px;
    padding-bottom: calc(env(safe-area-inset-bottom));
  }

}

@media screen and (orientation:landscape) {

  main,
  footer {
    padding-left: 80px;
  }

  .navigation-bar {
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-width: 80px;
  }

  .navigation-drawer {
    width: 360px;
    padding-left: env(safe-area-inset-left);
  }
}

/* || Navigation buttons */

.navigation-bar button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
}

.navigation-bar button .label-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--md-sys-color-on-surface-variant);
}

.navigation-bar button.active-indicator .label-text {
  font-weight: 700;
  color: var(--md-sys-color-on-surface);
}

.navigation-bar button md-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 32px;
  margin-bottom: 4px;
  border-radius: 16px;
  color: var(--md-sys-color-on-surface-variant);
}

.navigation-bar button.active-indicator md-icon {
  font-variation-settings:
    'FILL' 1;
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

@media screen and (orientation: portrait) {

  .navigation-bar button md-icon {
    width: 64px;
  }
}

@media screen and (orientation:landscape) {
  .navigation-bar button {
    height: 56px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .navigation-bar button md-icon {
    width: 56px;
  }

  .navigation-bar button.menu-button {
    position: absolute;
    top: 0;
    margin-top: 12px;
    order: -1;
  }

  .navigation-bar button.menu-button .label-text{
    display: none;
  }
}

@media (hover:hover) {
  .navigation-bar button:hover .label-text {
    color: var(--md-sys-color-on-surface);
  }
}

.navigation-bar button:active .label-text {
  color: var(--md-sys-color-on-surface);
}