/* || Navigation */

nav a {
  text-decoration: none;
  color: var(--on-primary);
}

nav .active {
  color: var(--nav-active) !important;
}

nav a.active,
nav .active .icon-title {
  text-decoration: underline;
}

.navbar,
.menu {
  width: 100%;
  background-color: var(--nav);
  transition: bottom 0.5s ease, background-color 0.5s ease;
  padding-bottom: env(safe-area-inset-bottom);
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 72px;
  bottom: 0;
}

@media screen and (orientation:portrait) {

  .navbar {
    z-index: 2;
    justify-content: space-evenly;
  }

  .menu {
    z-index: 1;
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    display: none;
  }

  .menu .links {
    display: block;
    position: absolute;
    overflow: scroll;
    width: 100%;
    max-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu a {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: xx-large;
  }
}

@media screen and (orientation:landscape) {

  .navbar {
    z-index: 1;
    left: 0;
    width: auto;
  }

  .menu {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: calc(100% - 4 * 72px);
    margin-left: calc(4 * 72px);
    height: 72px;
    line-height: 72px;
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .menu a {
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
  }
}