section {
    margin: 0 auto;
    width: 95%;
    opacity: 0;
    transform: translateY(50px);
    padding-bottom: 20px;
}

section.active {
    transform: translateY(0);
    opacity: 1;
}

section:first-of-type {
    margin-bottom: 50px;
}

section:not(:first-of-type) {
    margin-bottom: 50px;
}

section:last-of-type {
    margin-bottom: 0px;
}

section .centered {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

section .side-by-side {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

section .side-by-side .left-side {
    width: 100%;
}

section .side-by-side .right-side {
    width: 100%;
}

section img {
    width: 100%;
    height: auto;
}

@media screen and (orientation: landscape) {
    section {
        width: 66%;
    }

    section .side-by-side {
        display: flex;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-direction: unset;
    }

    section .side-by-side .left-side {
        margin-right: auto;
        max-width: 47.5%;
    }

    section .side-by-side .right-side {
        margin-left: auto;
        max-width: 47.5%;
    }
}