section {
    margin: 0 auto;
    width: 95%;
    opacity: 0;
    transform: translateY(50px);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background: var(--surface);
    color: var(--on-surface);
    box-shadow: var(--level-1);
    transition: all 1s ease;
}

section.active {
    transform: translateY(0);
    opacity: 1;
}

section:last-of-type {
    margin-bottom: 0px;
}

section .centered {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

section .side-by-side {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

section .side-by-side .left-side {
    width: 100%;
}

section .side-by-side .right-side {
    width: 100%;
}

section img {
    width: 100%;
    height: auto;
}

section img.clickable {
    cursor: pointer;
    box-shadow: var(--level-2);
    transition: all 0.5s ease;
}

section img.clickable:active {
    box-shadow: var(--level-4);
    transform: scale(1.1);
    transition: all 0s ease;
}

@media (hover:hover) {

    section img.clickable:hover {
        box-shadow: var(--level-4);
        transform: scale(1.1);
    }
}

@media screen and (orientation: landscape) {
    section {
        width: 66%;
    }

    section .side-by-side {
        display: flex;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        flex-direction: unset;
    }

    section .side-by-side .left-side {
        margin-right: auto;
        max-width: 47.5%;
    }

    section .side-by-side .right-side {
        margin-left: auto;
        max-width: 47.5%;
    }
}