/* || Colors */

:root .material-design-default {
    --primary: #6200EE;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;
    --secondary-variant: #018786;
    --background: #FFFFFF;
    --surface: #FFFFFF;
    --error: #B00020;
    --on-primary: #FFFFFF;
    --on-secondary: #000000;
    --on-background: #000000;
    --on-surface: #000000;
    --on-error: #FFFFFF;
}

:root .material-design-dark {
    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;
    --background: #121212;
    --surface: #121212;
    --error: #CF6679;
    --on-primary: #000000;
    --on-secondary: #000000;
    --on-background: #FFFFFF;
    --on-surface: #FFFFFF;
    --on-error: #000000;
}

:root .green {
    --primary: #00796B;
    --primary-variant: #80CBC4;
    --secondary: #00796B;
    --secondary-variant: #A7FFEB;
    --background: var(--primary-variant);
    --surface: #FFFFFF;
    --on-primary: #FFFFFF;
    --on-secondary: #FFFFFF;
    --on-background: #000000;
    --on-surface: #000000;

    --nav: var(--primary);
    --nav-active: var(--secondary-variant);
    --link: var(--secondary);
    --button: var(--secondary);
}

:root .yellow {
    --primary: #FBC02D;
    --primary-variant: #FFF59D;
    --secondary: #FBC02D;
    --secondary-variant: #FFFF8D;
    --background: var(--primary-variant);
    --surface: #FFFFFF;
    --on-primary: #000000;
    --on-secondary: #000000;
    --on-background: #000000;
    --on-surface: #000000;

    --nav: var(--primary);
    --nav-active: var(--secondary-variant);
    --link: var(--secondary);
    --button: var(--secondary);
}

:root .orange {
    --primary: #F57C00;
    --primary-variant: #FFCC80;
    --secondary: #F57C00;
    --secondary-variant: #FFD180;
    --background: var(--primary-variant);
    --surface: #FFFFFF;
    --on-primary: #000000;
    --on-secondary: #000000;
    --on-background: #000000;
    --on-surface: #000000;

    --nav: var(--primary);
    --nav-active: var(--secondary-variant);
    --link: var(--secondary);
    --button: var(--secondary);
}

:root .pink {
    --primary: #C2185B;
    --primary-variant: #F48FB1;
    --secondary: #C2185B;
    --secondary-variant: #FF80AB;
    --background: var(--primary-variant);
    --surface: #FFFFFF;
    --on-primary: #FFFFFF;
    --on-secondary: #FFFFFF;
    --on-background: #000000;
    --on-surface: #000000;

    --nav: var(--primary);
    --nav-active: var(--secondary-variant);
    --link: var(--secondary);
    --button: var(--secondary);
}

:root .purple {
    --primary: #512DA8;
    --primary-variant: #B39DDB;
    --secondary: #512DA8;
    --secondary-variant: #B388FF;
    --background: var(--primary-variant);
    --surface: #FFFFFF;
    --on-primary: #FFFFFF;
    --on-secondary: #FFFFFF;
    --on-background: #000000;
    --on-surface: #000000;

    --nav: var(--primary);
    --nav-active: var(--secondary-variant);
    --link: var(--secondary);
    --button: var(--secondary);
}

:root .blue {
    --primary: #0D47A1;
    --primary-variant: #90CAF9;
    --secondary: #0D47A1;
    --secondary-variant: #82B1FF;
    --background: var(--primary-variant);
    --surface: #FFFFFF;
    --on-primary: #FFFFFF;
    --on-secondary: #FFFFFF;
    --on-background: #000000;
    --on-surface: #000000;

    --nav: var(--primary);
    --nav-active: var(--secondary-variant);
    --link: var(--secondary);
    --button: var(--secondary);
}

:root .silver {
    --primary: #455A64;
    --primary-variant: #B0BEC5;
    --secondary: #455A64;
    --secondary-variant: #CFD8DC;
    --background: var(--primary-variant);
    --surface: #FFFFFF;
    --on-primary: #FFFFFF;
    --on-secondary: #FFFFFF;
    --on-background: #000000;
    --on-surface: #000000;

    --nav: var(--primary);
    --nav-active: var(--secondary-variant);
    --link: var(--secondary);
    --button: var(--secondary);
}

:root .green.dark-theme,
:root .yellow.dark-theme,
:root .orange.dark-theme,
:root .pink.dark-theme,
:root .purple.dark-theme,
:root .blue.dark-theme,
:root .silver.dark-theme {
    --background: #121212;
    --surface: #212121;
    --on-primary: #FFFFFF;
    --on-background: #FFFFFF;
    --on-surface: #FFFFFF;

    --nav: #424242;
    --nav-active: var(--secondary-variant);
    --link: var(--secondary-variant);
    --button: var(--secondary);
}

/* || Shadows */

:root {
    --level-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --level-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --level-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --level-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --level-5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    --level-6: 0 29px 52px rgba(0, 0, 0, 0.40), 0 25px 16px rgba(0, 0, 0, 0.20);
    --level-7: 0 45px 65px rgba(0, 0, 0, 0.50), 0 35px 22px rgba(0, 0, 0, 0.16);
    --level-8: 0 60px 80px rgba(0, 0, 0, 0.60), 0 45px 26px rgba(0, 0, 0, 0.14);
}