/* || Orange theme, based on Orange 500 (#FF9800) */

.orange {
  --md-sys-color-primary: rgb(133 83 24);
  --md-sys-color-surface-tint: rgb(133 83 24);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 220 190);
  --md-sys-color-on-primary-container: rgb(44 22 0);
  --md-sys-color-secondary: rgb(114 90 66);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 220 190);
  --md-sys-color-on-secondary-container: rgb(41 24 6);
  --md-sys-color-tertiary: rgb(88 99 58);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(220 232 180);
  --md-sys-color-on-tertiary-container: rgb(22 30 1);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(255 248 245);
  --md-sys-color-on-background: rgb(33 26 20);
  --md-sys-color-surface: rgb(255 248 245);
  --md-sys-color-on-surface: rgb(33 26 20);
  --md-sys-color-surface-variant: rgb(242 223 209);
  --md-sys-color-on-surface-variant: rgb(81 69 58);
  --md-sys-color-outline: rgb(131 116 104);
  --md-sys-color-outline-variant: rgb(213 195 181);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 47 40);
  --md-sys-color-inverse-on-surface: rgb(253 238 227);
  --md-sys-color-inverse-primary: rgb(253 185 117);
  --md-sys-color-primary-fixed: rgb(255 220 190);
  --md-sys-color-on-primary-fixed: rgb(44 22 0);
  --md-sys-color-primary-fixed-dim: rgb(253 185 117);
  --md-sys-color-on-primary-fixed-variant: rgb(105 60 0);
  --md-sys-color-secondary-fixed: rgb(255 220 190);
  --md-sys-color-on-secondary-fixed: rgb(41 24 6);
  --md-sys-color-secondary-fixed-dim: rgb(225 193 164);
  --md-sys-color-on-secondary-fixed-variant: rgb(89 66 44);
  --md-sys-color-tertiary-fixed: rgb(220 232 180);
  --md-sys-color-on-tertiary-fixed: rgb(22 30 1);
  --md-sys-color-tertiary-fixed-dim: rgb(192 204 154);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 75 36);
  --md-sys-color-surface-dim: rgb(230 215 205);
  --md-sys-color-surface-bright: rgb(255 248 245);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 231);
  --md-sys-color-surface-container: rgb(250 235 224);
  --md-sys-color-surface-container-high: rgb(244 229 219);
  --md-sys-color-surface-container-highest: rgb(239 224 213);
}

.orange.dark {
  --md-sys-color-primary: rgb(253 185 117);
  --md-sys-color-surface-tint: rgb(253 185 117);
  --md-sys-color-on-primary: rgb(74 40 0);
  --md-sys-color-primary-container: rgb(105 60 0);
  --md-sys-color-on-primary-container: rgb(255 220 190);
  --md-sys-color-secondary: rgb(225 193 164);
  --md-sys-color-on-secondary: rgb(64 44 24);
  --md-sys-color-secondary-container: rgb(89 66 44);
  --md-sys-color-on-secondary-container: rgb(255 220 190);
  --md-sys-color-tertiary: rgb(192 204 154);
  --md-sys-color-on-tertiary: rgb(43 52 16);
  --md-sys-color-tertiary-container: rgb(65 75 36);
  --md-sys-color-on-tertiary-container: rgb(220 232 180);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(25 18 12);
  --md-sys-color-on-background: rgb(239 224 213);
  --md-sys-color-surface: rgb(25 18 12);
  --md-sys-color-on-surface: rgb(239 224 213);
  --md-sys-color-surface-variant: rgb(81 69 58);
  --md-sys-color-on-surface-variant: rgb(213 195 181);
  --md-sys-color-outline: rgb(157 142 129);
  --md-sys-color-outline-variant: rgb(81 69 58);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(239 224 213);
  --md-sys-color-inverse-on-surface: rgb(55 47 40);
  --md-sys-color-inverse-primary: rgb(133 83 24);
  --md-sys-color-primary-fixed: rgb(255 220 190);
  --md-sys-color-on-primary-fixed: rgb(44 22 0);
  --md-sys-color-primary-fixed-dim: rgb(253 185 117);
  --md-sys-color-on-primary-fixed-variant: rgb(105 60 0);
  --md-sys-color-secondary-fixed: rgb(255 220 190);
  --md-sys-color-on-secondary-fixed: rgb(41 24 6);
  --md-sys-color-secondary-fixed-dim: rgb(225 193 164);
  --md-sys-color-on-secondary-fixed-variant: rgb(89 66 44);
  --md-sys-color-tertiary-fixed: rgb(220 232 180);
  --md-sys-color-on-tertiary-fixed: rgb(22 30 1);
  --md-sys-color-tertiary-fixed-dim: rgb(192 204 154);
  --md-sys-color-on-tertiary-fixed-variant: rgb(65 75 36);
  --md-sys-color-surface-dim: rgb(25 18 12);
  --md-sys-color-surface-bright: rgb(64 56 48);
  --md-sys-color-surface-container-lowest: rgb(19 13 7);
  --md-sys-color-surface-container-low: rgb(33 26 20);
  --md-sys-color-surface-container: rgb(38 30 24);
  --md-sys-color-surface-container-high: rgb(48 40 34);
  --md-sys-color-surface-container-highest: rgb(60 51 44);
}
